<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/juegoMemoria.css" />
</head>
<body>
    <div class="text-center m-4">
        <h1>Juego de memoria</h1>
    </div>

    <section class="memory-game">
        <div class="memory-card" data-framework="aurelia">
            <img class="front-face" src="~/Juegos/imagenes/juegoMemoria/Albert.png" alt="Aurelia" />
            <img class="back-face" src="~/Juegos/imagenes/juegoMemoria/backface.jpg" alt="JS Badge" />
        </div>
        <div class="memory-card" data-framework="aurelia">
            <img class="front-face" src="~/Juegos/imagenes/juegoMemoria/Albert.png" alt="Aurelia" />
            <img class="back-face" src="~/Juegos/imagenes/juegoMemoria/backface.jpg" alt="JS Badge" />
        </div>

        <div class="memory-card" data-framework="vue">
            <img class="front-face" src="~/Juegos/imagenes/juegoMemoria/Edison.png" alt="Vue" />
            <img class="back-face" src="~/Juegos/imagenes/juegoMemoria/backface.jpg" alt="JS Badge" />
        </div>
        <div class="memory-card" data-framework="vue">
            <img class="front-face" src="~/Juegos/imagenes/juegoMemoria/Edison.png" alt="Vue" />
            <img class="back-face" src="~/Juegos/imagenes/juegoMemoria/backface.jpg" alt="JS Badge" />
        </div>

        <div class="memory-card" data-framework="angular">
            <img class="front-face" src="~/Juegos/imagenes/juegoMemoria/Tesla.png" alt="Angular" />
            <img class="back-face" src="~/Juegos/imagenes/juegoMemoria/backface.jpg" alt="JS Badge" />
        </div>
        <div class="memory-card" data-framework="angular">
            <img class="front-face" src="~/Juegos/imagenes/juegoMemoria/Tesla.png" alt="Angular" />
            <img class="back-face" src="~/Juegos/imagenes/juegoMemoria/backface.jpg" alt="JS Badge" />
        </div>

        <div class="memory-card" data-framework="ember">
            <img class="front-face" src="~/Juegos/imagenes/juegoMemoria/Marie.jpg" alt="Ember" />
            <img class="back-face" src="~/Juegos/imagenes/juegoMemoria/backface.jpg" alt="JS Badge" />
        </div>
        <div class="memory-card" data-framework="ember">
            <img class="front-face" src="~/Juegos/imagenes/juegoMemoria/Marie.jpg" alt="Ember" />
            <img class="back-face" src="~/Juegos/imagenes/juegoMemoria/backface.jpg" alt="JS Badge" />
        </div>

        <div class="memory-card" data-framework="backbone">
            <img class="front-face" src="~/Juegos/imagenes/juegoMemoria/Rene.png" alt="Backbone" />
            <img class="back-face" src="~/Juegos/imagenes/juegoMemoria/backface.jpg" alt="JS Badge" />
        </div>
        <div class="memory-card" data-framework="backbone">
            <img class="front-face" src="~/Juegos/imagenes/juegoMemoria/Rene.png" alt="Backbone" />
            <img class="back-face" src="~/Juegos/imagenes/juegoMemoria/backface.jpg" alt="JS Badge" />
        </div>

        <div class="memory-card" data-framework="react">
            <img class="front-face" src="~/Juegos/imagenes/juegoMemoria/Nicolas.jpg" alt="React" />
            <img class="back-face" src="~/Juegos/imagenes/juegoMemoria/backface.jpg" alt="JS Badge" />
        </div>
        <div class="memory-card" data-framework="react">
            <img class="front-face" src="~/Juegos/imagenes/juegoMemoria/Nicolas.jpg" alt="React" />
            <img class="back-face" src="~/Juegos/imagenes/juegoMemoria/backface.jpg" alt="JS Badge" />
        </div>
    </section>

    <script src="~/Scripts/juegoMemoria.js"></script>
</body>
</html>

