<html>

<body>
    <div class="container-fluid">
        <div class="contenedor-cuestionario-pagina-principal">
            <h1>Aprende jugando</h1>
            <hr />
            <h3>Selecciona un juego:</h3>
            <div class="container-fluid">
                <div class="row fila-imagenes">
                    <div class="col-lg-4">
                        <div class="card card-inicio text-center border-light mb-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 35rem; border-radius: 15px; min-height:auto">
                            <div class="card-body">
                                <a href=@Url.Action("Juego",new { tipo = "crucigrama"})><img src="~/Juegos/imagenes/crucigrama.png" class="img-fluid imagen-cuestionario" alt=""></a>
                                <p class="texto-card"><a href=@Url.Action("Juego",new { tipo = "crucigrama"}) style="text-decoration:none">Crucigramas</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-inicio text-center border-light mb-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 35rem; border-radius: 15px; min-height:auto">
                            <div class="card-body">
                                <a href=@Url.Action("Juego",new { tipo = "memoria"})><img src="~/Juegos/imagenes/memoria.png" class="img-fluid imagen-cuestionario" alt=""></a>
                                <p class="texto-card"><a href=@Url.Action("Juego",new { tipo = "memoria"}) style="text-decoration:none">Memoria</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-inicio text-center border-light mb-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 35rem; border-radius: 15px; min-height:auto">
                            <div class="card-body">
                                <a href=@Url.Action("Juego",new { tipo = "ruleta"})><img src="~/Juegos/imagenes/ruleta.png" class="img-fluid imagen-cuestionario" alt=""></a>
                                <p class="texto-card"><a href=@Url.Action("Juego",new { tipo = "ruleta"}) style="text-decoration:none">Ruletas</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

